* {
    box-sizing: border-box;
    margin: 0px auto;
}

body {
    background-color: #ccd1d7;
    font-family: sans-serif;
}

header,
footer {
    display: flex;
    background-color: #b0c7e4;
}

header h1 {
    margin: 40px auto;
}

main {
    width: 1000px;
    min-height: 600px;
    background-color: #cddaeb;
    text-align: center;
}

footer {
    height: 40px;
}

h2 {
    padding: 10px;
}

#div2,
#div2_2 {
    display: inline-flex;
}

img {
    width: 250px;
    height: 250px;

}

.active {
    display: none;
}