* {
    box-sizing: border-box;
    margin: 0px auto;
}

body {
    background-color: #ccd1d7;
    font-family: sans-serif;
}

header,
footer {
    display: flex;
    background-color: #b0c7e4;
}

header h1 {
    margin: 40px auto;
}

main {
    width: 1000px;
    height: 600px;
    background-color: #cddaeb;
    text-align: center;
}

img {
    background-color: white;
    margin: 30px 0 0 30px;
}

img:hover {
    background-color: aquamarine;
}

#calculation {
    margin: 20px;
    display: inline-flex;
}

#inputRadius,
#textRadius {
    margin-right: 20px;
}

#textRadius {
    margin-block-start: 5px;
}

#result1,
#result2,
#result3 {
    width: 400px;
    text-align: left;
    margin-bottom: 10px;
}

footer {
    height: 40px;
}